body {
    background-color: #000;
    color: #fff;
}

#heading {
    display: flex;
    justify-content: center;

    --space: 0.3vw;
    word-spacing: var(--space);
}

#Symbols {
    color: #f0f;
    margin-left: calc(var(--space) * 2);
    margin-right: calc(var(--space) * 2);
}