*.exe
*.out
*.dat
*.bin
*.tmp
*.env
*.zip
*.psd
*.jpg
*.png
Maaz-C++/File/Prototypes/*
Maaz-C++/Projects/Custom_Float/*.txt
Maaz-C++/Syscalls/file.txt
Maaz-Python/Data_Generator/Generated_Data*
Maaz-Python/Pathlib_Training/*.txt
Maaz-Python/Pathlib_Training/documents
Maaz-Python/Pathlib_Training/reports
*__pycache__/
Maaz.js/Pern-cc/03_postgresql/drizzle/
*node_modules
cmd_practice/*.log
cmd_practice/*.txt
cmd_practice/*.cpp
*_copy

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
