*.exe
*.dat
*.bin
*.md
Maaz-C++/File/Prototypes/*
Maaz-Python/Data_Generator/Generated_Data*
Maaz-Python/Pathlib_Training/*.txt
Maaz-Python/Pathlib_Training/documents
Maaz-Python/Pathlib_Training/reports
cmd_practice/*.log
cmd_practice/*.txt
cmd_practice/*.cpp
*_copy